<a href="https://colab.research.google.com/github/kartikparlikar/Zomato-Restaurant-Analysis/blob/main/Copy_of_Copy_of_Zomato_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Importing libraries***

In [ ]:
import pandas as pd  
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

***Extract the data from google drive***

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

 ***Reading The Data***

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/zomato.csv")

***we will create a copy of our original data***

In [ ]:
df1 = df

***Checking the shape of the data.***

In [ ]:
df1.shape

(51717, 17)

***And Show The Data***

In [ ]:
df1.head(5).T

,0,1,2,3,4
url,https://www.zomato.com/bangalore/jalsa-banasha...,https://www.zomato.com/bangalore/spice-elephan...,https://www.zomato.com/SanchurroBangalore?cont...,https://www.zomato.com/bangalore/addhuri-udupi...,https://www.zomato.com/bangalore/grand-village...
address,"942, 21st Main Road, 2nd Stage, Banashankari, ...","2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...","1112, Next to KIMS Medical College, 17th Cross...","1st Floor, Annakuteera, 3rd Stage, Banashankar...","10, 3rd Floor, Lakshmi Associates, Gandhi Baza..."
name,Jalsa,Spice Elephant,San Churro Cafe,Addhuri Udupi Bhojana,Grand Village
online_order,Yes,Yes,Yes,No,No
book_table,Yes,No,No,No,No
rate,4.1/5,4.1/5,3.8/5,3.7/5,3.8/5
votes,775,787,918,88,166
phone,080 42297555\r\n+91 9743772233,080 41714161,+91 9663487993,+91 9620009302,+91 8026612447\r\n+91 9901210005
location,Banashankari,Banashankari,Banashankari,Banashankari,Basavanagudi
rest_type,Casual Dining,Casual Dining,"Cafe, Casual Dining",Quick Bites,Casual Dining
dish_liked,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Churros, Cannelloni, Minestrone Soup, Hot Choc...",Masala Dosa,"Panipuri, Gol Gappe"
cuisines,"North Indian, Mughlai, Chinese","Chinese, North Indian, Thai","Cafe, Mexican, Italian","South Indian, North Indian","North Indian, Rajasthani"
approx_cost(for two people),800,800,800,300,600
reviews_list,"[('Rated 4.0', 'RATED\n A beautiful place to ...","[('Rated 4.0', 'RATED\n Had been here for din...","[('Rated 3.0', ""RATED\n Ambience is not that ...","[('Rated 4.0', ""RATED\n Great food and proper...","[('Rated 4.0', 'RATED\n Very good restaurant ..."
menu_item,[],[],[],[],[]
listed_in(type),Buffet,Buffet,Buffet,Buffet,Buffet
listed_in(city),Banashankari,Banashankari,Banashankari,Banashankari,Banashankari

***Checking the values count and datatypes of the coloumns***

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

***Now we will understand the numerical information of our data***

In [ ]:
df1.describe()

              votes
count  51717.000000
mean     283.697527
std      803.838853
min        0.000000
25%        7.000000
50%       41.000000
75%      198.000000
max    16832.000000

***Now we will check duplicate data***

In [ ]:
df1.duplicated().sum()

0

***Here we are cheaking null values in each columns***

In [ ]:
df1.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

***Drop the Columns***

In [ ]:
df1.drop(['phone','dish_liked','address','url'],axis=1,inplace=True)

***Removing '/5' from rate***

In [ ]:
def rating(value):
    if (value == 'NEW' or value =='-'):
        return np.nan
    else:
        value = str(value).split('/')
        value = value[0]
        return float(value)

df1['rate'] = df1['rate'].apply(rating)
df1['rate'].value_counts()

3.9    3972
3.8    3873
3.7    3821
3.6    3316
4.0    3183
4.1    2948
3.5    2784
3.4    2476
3.3    2310
4.2    2184
3.2    1873
4.3    1693
3.1    1561
4.4    1147
3.0    1023
2.9     802
4.5     656
2.8     600
2.7     307
4.6     300
2.6     260
4.7     167
2.5     101
2.4      70
4.8      66
4.9      55
2.3      51
2.2      26
2.1      24
2.0      11
1.8       5
Name: rate, dtype: int64

***Check for null values***

In [ ]:
df1.isnull().sum()

name                               0
online_order                       0
book_table                         0
rate                           10052
votes                              0
location                          21
rest_type                        227
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [ ]:
rest_type = df1['rest_type'].value_counts(ascending = False)
rest_type

Quick Bites                   19132
Casual Dining                 10330
Cafe                           3732
Delivery                       2604
Dessert Parlor                 2263
                              ...
Dessert Parlor, Kiosk             2
Food Court, Beverage Shop         2
Dessert Parlor, Food Court        2
Sweet Shop, Dessert Parlor        1
Quick Bites, Kiosk                1
Name: rest_type, Length: 93, dtype: int64

***let's Fix Rest_type Column***

less then 1000 counts to others

In [ ]:
rest_type_lessthan1000 = rest_type[rest_type<1000]
rest_type_lessthan1000

Beverage Shop                 867
Bar                           697
Food Court                    624
Sweet Shop                    468
Bar, Casual Dining            425
                             ...
Dessert Parlor, Kiosk           2
Food Court, Beverage Shop       2
Dessert Parlor, Food Court      2
Sweet Shop, Dessert Parlor      1
Quick Bites, Kiosk              1
Name: rest_type, Length: 85, dtype: int64

In [ ]:
def fix_rest_type(value):
  if(value in rest_type_lessthan1000):
     return "others"
  else :
    return value

df1['rest_type'] = df1['rest_type'].apply(fix_rest_type)
df1['rest_type'].value_counts()

Quick Bites           19132
Casual Dining         10330
others                 9097
Cafe                   3732
Delivery               2604
Dessert Parlor         2263
Takeaway, Delivery     2037
Casual Dining, Bar     1154
Bakery                 1141
Name: rest_type, dtype: int64

***let's Fix cuisines Column***

In [ ]:
df1['cuisines'].unique()

array(['North Indian, Mughlai, Chinese', 'Chinese, North Indian, Thai',
       'Cafe, Mexican, Italian', ...,
       'North Indian, Street Food, Biryani', 'Chinese, Mughlai',
       'North Indian, Chinese, Arabian, Momos'], dtype=object)

In [ ]:
cuisines = df1['cuisines'].value_counts(ascending = False)
cuisines

North Indian                                   2913
North Indian, Chinese                          2385
South Indian                                   1828
Biryani                                         918
Bakery, Desserts                                911
                                               ...
North Indian, Chinese, South Indian, Juices       1
North Indian, Chinese, Kebab, Mughlai             1
Chinese, Vietnamese, Thai, Malaysian              1
Arabian, Lebanese, Chinese, Rolls                 1
North Indian, Chinese, Arabian, Momos             1
Name: cuisines, Length: 2723, dtype: int64

In [ ]:
cuisines_lessthan100 = cuisines[cuisines<100]

In [ ]:
def fix_cuisines(value):
  if(value in cuisines_lessthan100):
    return "others"
  else:
    return value

df1['cuisines'] = df1['cuisines'].apply(fix_cuisines)
df1['cuisines'].value_counts()

others                                 26460
North Indian                            2913
North Indian, Chinese                   2385
South Indian                            1828
Biryani                                  918
                                       ...
South Indian, Chinese, North Indian      105
Italian, Pizza                           105
North Indian, Mughlai, Chinese           104
South Indian, Fast Food                  104
North Indian, Chinese, Seafood           102
Name: cuisines, Length: 70, dtype: int64

***let's Fix approx_cost(for two people) Column***

In [ ]:
df1['approx_cost(for two people)'].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '80', '1,100', '160',
       '1,600', '230', '130', '50', '190', '1,700', nan, '1,400', '180',
       '1,350', '2,200', '2,000', '1,800', '1,900', '330', '2,500',
       '2,100', '3,000', '2,800', '3,400', '40', '1,250', '3,500',
       '4,000', '2,400', '2,600', '120', '1,450', '469', '70', '3,200',
       '60', '560', '240', '360', '6,000', '1,050', '2,300', '4,100',
       '5,000', '3,700', '1,650', '2,700', '4,500', '140'], dtype=object)

In [ ]:
def two_people_cost(value):
     value = str(value)
     if ',' in value:
        value = value.replace(',', '')
        return float(value)
     else:
        return float(value)
    
df1['approx_cost(for two people)']=df1['approx_cost(for two people)'].apply(two_people_cost)
df1['approx_cost(for two people)'].unique()

array([ 800.,  300.,  600.,  700.,  550.,  500.,  450.,  650.,  400.,
        900.,  200.,  750.,  150.,  850.,  100., 1200.,  350.,  250.,
        950., 1000., 1500., 1300.,  199.,   80., 1100.,  160., 1600.,
        230.,  130.,   50.,  190., 1700.,   nan, 1400.,  180., 1350.,
       2200., 2000., 1800., 1900.,  330., 2500., 2100., 3000., 2800.,
       3400.,   40., 1250., 3500., 4000., 2400., 2600.,  120., 1450.,
        469.,   70., 3200.,   60.,  560.,  240.,  360., 6000., 1050.,
       2300., 4100., 5000., 3700., 1650., 2700., 4500.,  140.])

In [ ]:
df1['approx_cost(for two people)'].dtype

dtype('float64')

***Check for null values***

In [ ]:
df1.isnull().sum()

name                               0
online_order                       0
book_table                         0
rate                           10052
votes                              0
location                          21
rest_type                        227
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

***Fill Rate Column Null Values to Mean Of Rate***

In [ ]:
df1['rate'].fillna(df1['rate'].mean(),inplace=True)

In [ ]:
df1.isnull().sum()

name                             0
online_order                     0
book_table                       0
rate                             0
votes                            0
location                        21
rest_type                      227
cuisines                        45
approx_cost(for two people)    346
reviews_list                     0
menu_item                        0
listed_in(type)                  0
listed_in(city)                  0
dtype: int64

In [ ]:
df1.dropna(inplace=True)

In [ ]:
df1.shape

(51148, 13)

In [ ]:
df1.describe()

               rate         votes  approx_cost(for two people)
count  51148.000000  51148.000000                 51148.000000
mean       3.701709    284.917885                   556.043736
std        0.395188    806.495210                   439.555299
min        1.800000      0.000000                    40.000000
25%        3.500000      7.000000                   300.000000
50%        3.700449     41.000000                   400.000000
75%        3.900000    199.000000                   700.000000
max        4.900000  16832.000000                  6000.000000

In [ ]:
duplicate=df1[df1.duplicated()] 
duplicate

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
596,My Tea House,Yes,Yes,3.700449,0,Banashankari,Casual Dining,others,500.0,"[('Rated 4.0', ""RATED\n So apparently I visit...","['MTH Signature Soup', 'Minestrone Veg', 'Broc...",Dine-out,Banashankari
2235,Shiv Sagar,No,No,3.600000,10,Bannerghatta Road,others,others,400.0,"[('Rated 4.0', 'RATED\n It was yesterday I vi...",[],Dine-out,Bannerghatta Road
4339,Biryani Treat,No,No,3.700449,0,Bellandur,Quick Bites,Biryani,400.0,[],[],Delivery,Bellandur
7599,Nawab Di Biryani,Yes,No,3.700449,0,Whitefield,"Takeaway, Delivery",others,400.0,"[('Rated 4.0', 'RATED\n Ordered paneer tikka ...","['Paneer Tikka Biryani', 'Veg Lucknowi Biryani...",Delivery,Brookefield
9342,Healthy Parathawala,Yes,No,3.700449,0,BTM,Quick Bites,North Indian,200.0,[],"['Aloo Paratha Chole Combo', 'Gobi Paratha Cho...",Delivery,BTM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46553,House Of Candy,Yes,No,3.700449,0,Malleshwaram,others,Desserts,200.0,[],[],Delivery,Rajajinagar
49193,Sri Ganesh Juice Junction,Yes,No,3.500000,6,Bellandur,others,others,200.0,"[('Rated 4.0', 'RATED\n A perfect place to dr...",[],Delivery,Sarjapur Road
49432,Biryani Treat,No,No,3.700449,0,Bellandur,Quick Bites,Biryani,400.0,[],[],Delivery,Sarjapur Road
50405,House Of Candy,Yes,No,3.700449,0,Whitefield,others,Desserts,200.0,[],[],Delivery,Whitefield
50904,Nawab Di Biryani,Yes,No,3.700449,0,Whitefield,"Takeaway, Delivery",others,400.0,"[('Rated 3.0', 'RATED\n Biriyani had ordered ...",[],Delivery,Whitefield

***Now we will Drop duplicate data***

In [ ]:
df1.drop_duplicates(inplace=True)

***Now we see the final shape of our data***

In [ ]:
df1.shape

(51084, 13)

In [ ]:
from google.colab import files
files.download('/content/zomatoo cleaning.csv')

***lets go  [TABLEAU_LINK](https://public.tableau.com/app/profile/kartik.parlikar/viz/BangaluruZomatoData/Story1#1)  for visualize***

In [ ]:
#df1.drop(df1[df1['adr'] > 1000].index, inplace = True)

In [ ]:
#df1.to_csv('zomatoo cleaning.csv')

In [ ]:
#df1['location'].fillna(df1['location'].mode()[0],inplace=True)

In [ ]:
#df1['cuisines'].fillna(df1['cuisines'].mode()[0],inplace=True)

In [ ]:
#df1['rest_type'].fillna(df1['rest_type'].mode()[0],inplace=True)

In [ ]:
#df1['approx_cost(for two people)'].fillna(df1['approx_cost(for two people)'].mean(),inplace=True)